<header class="header">
  <div class="container">
    <nav class="navbar">
      <ul class="navbar__list">
        <li class="navbar__item">
          <a href="/" class="navbar__link link">Home</a>
        </li>
        <li class="navbar__item">
          <a href="/posts" class="navbar__link link">Posts</a>
        </li>
        <li class="navbar__item">
          <a href="/posts/add" class="navbar__link link">Add post</a>
        </li>
        <li class="navbar__item">
          <a href="/contacts" class="navbar__link link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>
</header>