<section class="contacts">
  <h1 class="title">Contacts</h1>
  <p class="contacts__text text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
    blanditiis esse expedita magnam quo. Dignissimos laudantium adipisci
    veritatis, tenetur labore provident totam expedita nostrum, nulla eligendi
    nisi porro odio numquam.
  </p>
<h3 class="contacts__title title">Contacts list</h3>
<ul class="contacts__list">
  {{#each contacts}}
    <li class="contacts__item">
      {{> contact}}
    </li>
  {{/each}}
</ul>
</section>
