<section class="error">
  <h1 class="title">Error</h1>
  <p class="error__text text">Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Saepe nisi itaque laborum incidunt exercitationem laboriosam aliquid
    harum mollitia quo, illo aperiam reprehenderit commodi at libero? Ex quis
    voluptatibus tempore aliquid.</p>
  <h3 class="error__title title">Error</h3>
  <strong class="error__strong">{{error}}</strong>
</section>