<section class="post-edit">
  <h1 class="title">Edit post</h1>
  <p class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
    blanditiis esse expedita magnam quo. Dignissimos laudantium adipisci
    veritatis, tenetur labore provident totam expedita nostrum, nulla eligendi
    nisi porro odio numquam.
  </p>
  {{> form edit=true}}
</section>
