<section class="post-add">
  <h1 class="title">Add post</h1>
  <p class="text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis
    blanditiis esse expedita magnam quo. Dignissimos laudantium adipisci
    veritatis, tenetur labore provident totam expedita nostrum, nulla eligendi
    nisi porro odio numquam.
  </p>
  {{> form}}
</section>
