@use "../utilities" as *;
@use "sass:map";

.footer {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 0.25rem 0;

  flex: 0 0 auto;

  &__container {
    display: flex;
    justify-content: center;
  }

  &__text {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: map.get($breakpoints, "medium")) {
  .footer {
    &__text {
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: map.get($breakpoints, "small")) {
  .footer {
    &__text {
      font-size: 0.75rem;
    }
  }
}
